extends     ../../layouts/default
include ../../mixins/filter-status.pug
include ../../mixins/form-search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug

block content
    
    - var totalPage = pagination.totalPage;   
    +alert-success(3000, messages.success)
    h1 DANH SÁCH SẢN PHẨM 
    .card.mb-3 
        .card-header Bộ lọc và tìm kiếm 
        .card-body
           .row
            .col-6
                +filter-status(filterStatus)
            .col-6 
                +form-search(keyword)

    .card.mb-3 
        .card-header Danh sách
            .card-body
                .row 
                    .col-8
                        +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
                    .col-4
                        a(
                            href = `${prefixAdmin}/products/create`
                            class = "btn btn-outline-success"
                        ) + Thêm mới
                
                table(
                    class="table table-hover table-sm"
                    checkbox-multi
                )
                    thead
                        tr 
                            th 
                                input(type="checkbox" name="check-all")
                            th STT
                            th Hình ảnh
                            th Tiêu đề
                            th Giá
                            th Vị trí
                            th Trạng thái
                            th Hành động

                    tbody 
                    - var index = 1;
                    each item in products
                        tr 
                            td 
                                input(
                                    type="checkbox" 
                                    name="id" 
                                    value=item.id
                                )
                            td #{index++}
                            td 
                                img(
                                    src=item.thumbnail
                                    alt=item.title
                                    width="100px"
                                    height="auto"
                                )
                            td #{item.title}
                            td #{item.price}$
                            td 
                                input(
                                    type="number"
                                    value=item.position 
                                    style="width:60px"
                                    min="1"
                                    name="position"
                                ) 
                            td 
                                if(item.availabilityStatus == "In Stock")
                                    a(
                                    href="javascript:;"  
                                    data-status = "active"
                                    data-id=item.id 
                                    button-change-status
                                    class="badge text-bg-success"
                                ) #{item.availabilityStatus}
                                else
                                    a(
                                    href="javascript:;" 
                                    data-status="inactive"
                                    data-id=item.id 
                                    button-change-status 
                                    class="badge text-bg-warning"
                                ) #{item.availabilityStatus}
                            td 
                                button(class="btn btn-warning btn-sm") Sửa
                                button(
                                    class="btn btn-danger btn-sm ml-1" 
                                    data-id=item.id
                                    button-delete
                                ) Xóa 
    +pagination(pagination)
    form(
        action=""
        method="POST"
        id="form-change-status"
        data-path=`/admin/products/change-status`
    )

    form(
        action=""
        method="POST"
        id="form-delete-item"
        data-path=`${prefixAdmin}/products/delete` 
    )
    script(src="/admin/js/product.js")